{% extends 'home/frame.html' %}

{% block content %}
<style>
	table td{
	vertical-align:top;
	padding:1%;
	}
</style>

<table border="1" style="width:90%; height:90%; top:5%; left:5%; margin:0 auto; position:absolute; table-layout:fixed;">
<tr height="10%">
<td>
<h3>Control Pannel</h3>
</td>
<td colspan="2">
{{ response_data.0 | safe}}
</td>
</tr>

<tr height="80%">
<td colspan="2">
<div id="1" class="lay"> 
<form method='POST' action='/app'>
{% csrf_token %}
<h4>Create Instance</h4>
    <div class="form-group">
    <label for="instance_name">Name of the Instance</label>
    <input class="form-control" id="instance_name" name="instance_name"  placeholder="Name of Virtual Machine" required>
    </div>

    <div class="form-group">
    <label for="instance_image">Select the image that you want to deploy</label>
    <select class="form-control" id="instance_image" name="instance_image">
	{% for i in image_list %}
	<option value="{{i.1}}">{{i.0}}</option>
	{% endfor %}
    </select>
   </div>

 <fieldset class="form-group">
    <legend>Choose the Flavour for your Instance</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="flavour" id="optionsRadios1" value="1" checked>
        m1.Tiny
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="flavour" id="optionsRadios2" value="2">
        m1.Small
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="flavour" id="optionsRadios2" value="3">
        m1.Medium
      </label>
    </div>

    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="flavour" id="optionsRadios2" value="4">
        m1.Large
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="flavour" id="optionsRadios2" value="5">
        m1.XLarge
      </label>
    </div>

<button type="submit" class="btn btn-primary">Create Instance</button>
</form>
</div>

    
<div id="5" class="lay" style="width:"90%", height:"90%", position:absolute">

{% if instance_meta.powerstate != 'RUNNING'  %}
<img width="90%" height="90%" src="static/home/cursor.gif">
{% else %}
<iframe width="850" height="600" src="{{instance_url}}"></iframe>
{% endif %}
</div>    
</td>




<td>
{% if instance_meta == None %}
<img src='static/home/instance_no.png'>
<p><strong>Name:</strong> No Instance Found  <br>
<strong>Status:</strong> NA
</p>
{% elif instance_meta.powerstate == 'RUNNING' %}
<img src='static/home/instance_on.png'>
<p>
<strong>Name:</strong> {{instance_meta.name}} <br>
<strong>Over all State:<strong> {{instance_meta.ostate}}<br>	
<strong>Power State:<strong> {{instance_meta.powerstate}}<br>	
<strong>VM State:<strong> {{instance_meta.vmstate}}<br>
<strong>Task State:<strong> {{instance_meta.taskstate}}<br>	
</p>
{% else %}
<img src='static/home/instance_off.png'>
<p>
<strong>Name:</strong> {{instance_meta.name}} <br>
<strong>Over all State:<strong> {{instance_meta.ostate}}<br>	
<strong>Power State:<strong> {{instance_meta.powerstate}}<br>	
<strong>VM State:<strong> {{instance_meta.vmstate}}<br>
<strong>Task State:<strong> {{instance_meta.taskstate}}<br>	
</p>
{% endif %}


<hr>
<nav>
<ul class="nav navbar">
<a id="11" class="btn btn-outline-primary" href="#">Create Instance</a>
<a id="33" class="btn btn-outline-primary" href="/delete">Delete Instance</a>
<a id="44" class="btn btn-outline-primary" href="/status">Check Status</a>
<a id="55" class="btn btn-outline-primary" href="/console">Get Console</a>
<a id="66" class="btn btn-outline-primary" href="/poweroff">Power Off</a>
<a id="77" class="btn btn-outline-primary" href="/poweron">Power on</a>
</ul>
</nav>

</td>

</tr>
</table>

{% endblock %}




{% block scripting %}
<script>
	$(document).ready(function(){	
	$(".lay").hide();
	$("#5").show();

	$("#11").click(function(){
	$(".lay").hide();
	$("#1").toggle();
	})

	$("#22").click(function(){
	$(".lay").hide();
	$("#2").toggle();
	})

	$("#55").click(function(){
	$(".lay").hide();
	$("#5").toggle();
	})
});
</script>
{% endblock %}

