{% extends 'home/frame.html' %}

{% block content %}
<div class="jumbotron" style="width:35%; margin:1% 1%;background-color:transparent !important">
<h1 class="display-3">PyStack</h1>
<p class="lead"> PyStack is a Proof of Concept (POC) which explores different dimensions of Openstack-pike through REST API</p>
<hr class="my-4"></hr>
<p> <a href="/signup">Sign Up</a> and fire up your server to get an experience of our flavour of IAAS
</p>

<p class="lead">
<a href="documentation.html"><button class="btn btn-primary">Know More</button></a></br>
</p>
*<i>We are still expanding and therefore resources might be limited</i>

</div>
{% endblock %}
